<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ControlAppConfig>
    <BaseDirectory path="res"/>
    <ConnectionSettings>
        <Connection localIP="127.0.0.1" localPort="2012" name="Entkäferung" remoteIP="127.0.0.1" remotePort="1242"/>
        <Connection localIP="192.168.1.63" localPort="1421" name="Knightbook - Aisoy 1 (wired)" remoteIP="192.168.1.231" remotePort="1241"/>
        <Connection localIP="137.250.171.105" localPort="1421" name="Knightbook - Aisoy 2 (Uni-Netz)" remoteIP="137.250.171.109" remotePort="1241"/>
        <Connection localIP="192.168.1.63" localPort="1421" name="Knightbook - Aisoy 2 (wired)" remoteIP="192.168.1.232" remotePort="1241"/>
        <Connection localIP="127.0.0.1" localPort="2012" name="Knightbook - Nali" remoteIP="127.0.0.1" remotePort="1101"/>
        <Connection localIP="192.168.1.63" localPort="2012" name="Knightbook - Nera" remoteIP="192.168.1.102" remotePort="1102"/>
        <Connection localIP="127.0.0.1" localPort="2012" name="Knightbook - Nero" remoteIP="127.0.0.1" remotePort="1103"/>
        <Connection localIP="192.168.1.63" localPort="2012" name="Knightbook - Raal (wireless)" remoteIP="192.168.1.123" remotePort="1241"/>
        <Connection localIP="192.168.1.63" localPort="2012" name="Knightbook - Rana (wired)" remoteIP="192.168.1.224" remotePort="1241"/>
        <Connection localIP="192.168.1.63" localPort="2012" name="Knightbook - Rana (wireless)" remoteIP="192.168.1.124" remotePort="1241"/>
        <Connection localIP="192.168.1.63" localPort="2012" name="Knightbook - Rossi (wireless)" remoteIP="192.168.1.121" remotePort="1241"/>
        <Connection localIP="127.0.0.1" localPort="1442" name="Knightbook - Zeno" remoteIP="127.0.0.1" remotePort="1241"/>
        <Connection localIP="127.0.0.1" localPort="2012" name="local default" remoteIP="127.0.0.1" remotePort="1241"/>
    </ConnectionSettings>
</ControlAppConfig>
